<!DOCTYPE>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="name">
    <button 
    type="button" 
    class="move"
    @click="move()"
    >Move to Bottom</button>
    <div v-for="(person , index) in people" :key="index" class="card">
      <h3>{{ person.name }}</h3>
      <p>{{ person.message }}</p>
      <input type="text" name="Pname" v-model="person.name" @input="updateName(index,$event)" :key="person.name">
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>